/* 
    Created on : 27 oct. 2013, 12:12:11
    Author     : cote
*/

html{
    background-color: #fff;
}

body{
    width:90%;
    font-family: Trebuchet MS;
    font-size: 30px;
    color:#333;
    margin: 0 auto;
    background-color: cornsilk;
    border-radius: 15px;
    padding: 10px;
}

h1{
    font-size: 20px;
}

.true{
    color:green;
}
.false{
    color:red;
}
strong{
    font-weight: bold;
}

#items li a {
    text-decoration: none;
    border: 2px solid none;
}
#items li a:hover {
    color:red;
    padding: 0 10px;
    border-radius: 5px;
    border: 2px solid red;
    background-color: yellow;
}

ol{
    list-style-type: upper-roman;
    /*list-style-type: square;*/
    /*border: 1px solid red;*/
    text-align: center;
    border-radius: 10px;
    border: solid 4px orange;

    -webkit-columns: 7;
    -moz-columns: 7;
    columns: 7;

    -webkit-column-gap: 2em;
    -moz-column-gap: 2em;
    column-gap: 2em;

    -webkit-column-rule: 5px dotted rgba(125,125,125,.2);
    -moz-column-rule: 1em dotted #777;
    column-rule: 1em dotted #777;

    margin: 20px 0;
    padding: 5px 0;
    background-color: lightgoldenrodyellow;
}
th{
    column-span: all;
}

header, section, footer {
    background-color: #fcffff;
    border-bottom: 1px solid #000;
    box-shadow: 0px -1px 7px #333;
    border-radius: 7px;
    margin:7px 3px;
    padding: 7px 15px;
}

/*Pour html_js_php*/

#etude_chronologie{
    color:blue;
}

.red{
    color:red;
}

